*{
    box-sizing: border-box;
}
.container {
    max-width: 800px;
    padding: 10px;
    float: left;
    margin: 40px;
}
.img-responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
}
form {
    padding: 40px;
}
.row {
    margin: 20px;
}
.portfolio-img {
    width: 100%;
    height: auto;
    border: none;
    border: 2px purple solid;
}
@media screen and (min-width: 400px) and (max-width: 768px) {
    .wrapper {
        max-width: 600px;
    } 

    .portfolio-img {
        border: 2px red solid;
        margin: none;
    }
    .container {
        margin: 0px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .portfolio-img {
        border: 2px green solid;
        margin: 0px;
    }
}
