*{
    box-sizing: border-box;
}
.container {
    max-width: 700px;
    padding: 10px;
    float: left;
    margin: 40px;
}
.img-responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
}
form {
    padding: 40px;
}
.row {
    margin: 10px;
}